.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 350px;
}

.imageWrapper {
  width: 100%;
}

.image {
  width: 100%;
}
